@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
div#about-me {
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.main-container {
    border-radius: 10px;
    padding: 37px;
    display: flex;
    gap: 50px;
}
.main-image-div {
    width: 371px;
    height: 493px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}
.main-image-div img {
    width: 371px;
    height: 500px;
    border-radius: 10px;
}

.main-img {
    border-radius: 8px;
    transition: 0.5s all;
    background-color: black;
    overflow: hidden;
}
.main-image-div:hover .main-img {
    transform: scale(1.1);
}
.main-body {
    padding-top: 30px;
}
.main-body span {
    letter-spacing: 2px;
}
.main-body h2 {
    width: 200px;
    padding: 17px 20px 16px 0px;
    font-size: 28px;
    color: rgb(60, 62, 65);
}
.main-body p {
    text-align: justify;
    padding: 10px 0px;
    color: rgb(60, 62, 65);
    font-size: 15px;
}
.main-body ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-body li {
    padding: 8px 0px;
    color: rgb(135, 142, 166);
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.main-body li i {
    opacity: 0.6;
}
.main-body button {
    width: 201px;
    height: 60px;
    border: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgb(209, 217, 230) -5px 5px 15px,
        rgb(255, 255, 255) -5px -5px 15px;
    font-size: 15px;
    transition: all 0.4s ease 0s;
    padding-left: 15px;
}
.main-body button:hover {
    margin-bottom: 10px;
    background-color: var(--icon-bg);
    color: var(--header-bg);
    transform: translateY(-5px);
}
.text-container h6 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.card {
    display: flex;
    padding: 40px;
    column-gap: 30px;
}
[class^="service-card-"] {
    text-align: center;
    padding: 35px 20px;
    border-radius: 13px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}
[class^="service-card-"] i {
    font-size: 50px;
    color: var(--button-color);
}
[class^="service-card-"] p {
    font-size: 18px;
    line-height: 28px;
}
[class^="service-card-"] h6 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 27px;
    padding-bottom: 22px;
}
.whole-container {
    display: flex;
    gap: 30px;
    margin: 0px 35px;
}

.trusted-Clients {
    flex-basis: 25% !important;
}

.div1-card p {
    text-align: center;
    font-size: 18px;
    color: #ff0175;
    padding: 10px;
}
.div1-card img {
    width: 225px;
    height: 175px;
    padding: 30px;

    text-align: center;
}
.client-card {
    display: flex;
    flex-direction: row;
    padding: 40px;
    /* gap: 11px; */
    justify-content: space-between;
}
.div1-card {
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.clients-he h6 {
    text-align: center;
    width: 100%;
    color: #3c3e41;
    font-size: 20px;
}
hr {
    opacity: 0.5;
    height: 1px;
}

/* responsive design starts here */

@media screen and (max-width: 1199px) {
    .main-image-div {
        width: 250px;
        height: 332px;
    }
    .main-image-div img {
        width: 250px;
        height: 332px;
    }
    .main-body {
        width: 578px;
    }
    div#about-me {
        width: 82%;
    }
}
@media (max-width: 991px) {
    .halt {
        position: relative;
    }
}
/* responsive design ends here */
