@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.sidebar {
	background-color: var(--header-bg);
	padding: 15px;
	border-radius: 9px;
	width: 231px;
	margin: 0px 35px;
}