@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    --header-bg: #ffffff;
    --full-body-bg: #ecf0f3;
    --default-font-size: 16px;
    --border-color: rgb(187, 187, 187);
    --light-color: #ecf0f3;
    --icon-bg: #dc0f22;
    --heading-color: #3c3e41;
    --button-color: #ff014f;
    --color-primary: #ff014f;
}

/* * {
    border: 1px solid red;
} */

div#work {
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    flex-direction: column;
    width: 80%;
}
.whole-container {
    display: flex;
    gap: 30px;

    margin: 0px 35px;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 96%;
    gap: 5px;
}

.card-div1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 40px;
    margin-top: 45px;
}

.card1 {
    background-color: #e6ebef;
    flex-basis: 33.33%;
    width: 337px;
    height: 380px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(43, 39, 39, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.title {
    display: flex;
    flex-direction: row;
    height: 50px;

    padding-top: 10px;
}
.dev a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title .dev {
    flex-basis: 80%;
}

.inner-card a {
    text-decoration: none;
}
.inner-card .link {
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    transition: 0.3s all;
}
.card1:hover .link {
    color: var(--color-primary);
}
.title .love {
    flex-basis: 20%;
    font-weight: 500;
    font-family: var(--color-primary);
    font-size: 13px;
}

.inner-card {
    /* height: 100%; */
    gap: 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.inner-card img {
    transition: 0.5s all;
    width: 247px;
    height: 185px;
    border-radius: 10px;
}
.image-container {
    overflow: hidden;
    border-radius: 10px;
    height: 186px;
    width: 247px;
}
.card1:hover img {
    transform: scale(1.1);
}
.card-div2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 40px;
    margin-top: 30px;
}

.see-more {
    text-align: center !important;
    width: 100%;
    padding-top: 35px;
    margin-bottom: 40px;
}

.see-more button {
    padding: 26px;
    font-size: 1.2rem;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.see-more button:hover {
    background-color: var(--icon-bg);
    color: var(--header-bg);
    transform: translateY(-5px);
}

/* responsive design starts here */
/* @media screen and (max-width:1199px) {
    
} */
@media screen and (max-width: 768px) {
    div#work {
        width: 100%;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }

    .card-div1 {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 25px;
        margin-top: 30px;
        /* width: 100%; */
    }

    .card-div2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-evenly;
        /* width: 100%; */
        margin-left: 25px;
    }

    .image-container {
        width: 100%;
    }
    .inner-card img {
        width: 100%;
    }
    .card1 {
        max-width: 63%;
        display: flex;
        justify-content: center;
        margin-left: 60px;
        align-items: center;
    }
}

/* responsive design ends here */
